$primary-color: #ABC9E3;
$hover-color: #5E7191;

html, body {
	border-top-color: $primary-color;
}
div.footer {
	border-bottom-color: $primary-color;
}
.container a {
	color: $primary-color;
}
.container a:hover {
	color: $hover-color;
}
.panel-default h4 a, h5 a {
	color: $primary-color;
}

figure.inline {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
}

figure.inline-40 {
  display: inline-flex;
  height: auto;
  width: 40%;
}

figure.inline-60 {
  display: inline-flex;
  height: auto;
  width: 60%;
}

figure.inline-80 {
  display: inline-flex;
  height: auto;
  width: 80%;
}

figure.right {
  float: right;
}

figure.left {
  float: left;
}

figure > img {
  display: inline-flex;
  width: 90%;
}

h2, h3 {
  clear: both;
}

h5 {
  font-weight: bold
}

.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
